.skills-description {
    max-width: 1200px;
    margin: auto;
    margin-top: 30px;
    font-size: 25px;
    background: rgba(15, 118, 174, 0.6);
    border-radius: 2rem;
    padding: 15px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.697), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease;
    padding-bottom: 10px;
    opacity: 0;
    animation: fadeInUp 1s 0s;
    animation-fill-mode: forwards;
    clear: both;

    &:hover {
        scale: 1.05;
        background: rgb(17, 141, 207);
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.923), 0 6px 20px 0 rgba(0, 0, 0, 0.694);
    }

    p {
        color: rgb(228, 228, 228);
        transition: all 0.3s ease;
        font-size: 30px;

        &:hover {
            color: white;
        }
    }


    .skills-description p {
        color: rgb(228, 228, 228);
        transition: all 0.3s ease;
    
        &:hover {
            color: rgb(255, 255, 255);
        }
    }

    .skills-grid {
        display: grid;
        grid-template-columns: repeat(4, .5fr);
        list-style: none;

        .Bootstrap-Icon,
        .CSS-Icon,
        .Django-Icon,
        .Express-Icon {
            grid-row-start: 2;
            grid-row-end: 3;
        }

        .HTML-Icon,
        .JS-Icon,
        .MongoDB-Icon,
        .PostgreSQL-Icon {
            grid-row-start: 1;
            grid-row-end: 2;
        }

        .Python-Icon {
            grid-column-start: 2;
            grid-column-end: 3;
        }

        .React-Icon {
            grid-column-start: 3;
            grid-column-end: 4;
        }

    }
}

@media only screen and (min-width: 800px) {

    .skills-grid {
        display: grid;
        grid-template-columns: repeat(4, .5fr);
        list-style: none;

        .Bootstrap-Icon,
        .CSS-Icon,
        .Django-Icon,
        .Express-Icon {
            grid-row-start: 2;
            grid-row-end: 3;
        }

        .HTML-Icon,
        .JS-Icon,
        .MongoDB-Icon,
        .PostgreSQL-Icon {
            grid-row-start: 1;
            grid-row-end: 2;
        }

        .Python-Icon {
            grid-column-start: 2;
            grid-column-end: 3;
        }

        .React-Icon {
            grid-column-start: 3;
            grid-column-end: 4;
        }
        
    }
}